.main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-content {
  margin-top: 64px; /* Altura de la barra de herramientas */
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.example-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow: auto;
}
